@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

:root{
    --clr-primary: hsl(172, 67%, 45%);
    --clr-primary-lt: hsla(172, 96%, 66%, 0.79);
    --clr-ntrl-dkr:hsl(183, 100%, 15%);
    --clr-ntrl-dk:hsl(186, 14%, 43%);
    --clr-ntrl: hsl(184, 14%, 56%);
    --clr-ntrl-lt:hsl(185, 41%, 84%);
    --clr-ntrl-ltr: hsl(189, 41%, 97%);
    --clr-ntrl-min:white;
    --fs-sm: .7rem;
    --fs-m: 1rem;
    --fs-lg:1.6rem;
    --br-btn: .3rem;
    --br-all:1rem;
    --ff: 'Space Mono', sans-serif;
    --mbl-w: 375px;
    --fw: 900;
}

*, ::before, ::after{
    box-sizing: border-box;
    font-family:var(--ff);
    font-weight:var(--fw);
    letter-spacing: .07rem;
    
}
/* Layout */
body{
    min-height:100vh;
    min-width:100vw;
    font-size:var(--fs-sm);
    color:var(--clr-ntrl-dk);
    background-color: var(--clr-ntrl-lt);
    margin:0;
    padding: 0;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}
.container{
    padding:2rem;
    background-color: var(--clr-ntrl-min);
    height:min(90vh,50%);
    width:min(100%, 800px);
   display:flex;
   flex-direction: column;
    border-radius:var(--br-all) var(--br-all) 0 0;
    height:fit-content;
}
.input-container{
    display:flex;
    flex-direction:column;
    gap:1rem;
}
.tip-container{
   width:100%;
   display:grid;
   grid-template-columns: 1fr 1fr;
   gap:1rem;
}
.result-container{
    background-color: var(--clr-ntrl-dkr);
    border-radius:var(--br-all);
    margin-top:1rem;
    padding:.5rem;
    flex-grow:1;
    display:flex;
    flex-direction: column;
}
.result-item-container{
    display:flex;
    align-items: center;
}
.result-item{
    margin-left:auto;
    padding:1rem;
    color:var(--clr-primary);
    font-size:var(--fs-lg)
}
.result-item-lbl{
    color:var(--clr-ntrl-ltr);
    padding:.7rem;
}
.result-item-lbl::after{
    content:"/ person";
    color:var(--clr-ntrl-dk);
    display:block;
    padding:.2rem 0;
}

/* input & icon styles */
input{
    border:none;
    border-radius:var(--br-btn);
    background-color: var(--clr-ntrl-ltr);
    height:2.8rem;
    width:100%;
    padding:1rem;
    text-align: end;
    color:var(--clr-ntrl-dkr);
}

input:focus{
    outline:1px solid var(--clr-primary-lt);
    transition:all 0.2s linear;
}
.custom::placeholder{
    color:var(--clr-ntrl-dk);
}
.custom{
    background-color:var(--clr-ntrl-ltr);
    text-align:left;
}
.icon{
    display:inline-block;
    position:relative;
}

#dolla::before{
    content:"";
    background: url('./images/icon-dollar.svg') no-repeat center center;
    background-size:30% auto;
    height:100%;
    left:0;
     pointer-events: none; /* important */
  position: absolute;
  top: 0;
  width: 2rem;
}
#person::before{
    content:"";
    background: url('./images/icon-person.svg') no-repeat center center;
    background-size:40% auto;
    height:100%;
    left:0;
     pointer-events: none; /* important */
  position: absolute;
  top: 0;
  width: 2em;
}

/* Buttons */
.btn:not(.custom){
    height:2.5rem;
    background-color:var(--clr-ntrl-dkr);
    color:var(--clr-ntrl-min);
    border:none;
    border-radius:var(--br-btn);
    font-size:var(--fs-m);
    transition:all 0.2s linear;

}
.btn-a:active{
    background-color: blue;
}
.btn:hover:not(.custom){
    background-color: var(--clr-primary);
    transition:all 0.2s linear;
    cursor:pointer;
}
.btn:visited{
    background-color: var(--clr-primary);
}
.reset{
    background-color:var(--clr-primary) !important;
    color:var(--clr-ntrl-dkr);
    margin:1rem;
}
.reset:hover{
    cursor:pointer;
    background-color: var(--clr-primary-lt);
}

/* Media queries */
@media screen and (min-width: 768px) {
    .container{
        width:min(90%,820px);
        font-size:larger;
        flex-direction: row;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        border-radius:var(--br-all);
    }
    .input-container{
       width: 50%;
       padding-right:2rem;
    }
    .reset{
        margin-top:auto;
    }

    .tip-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    
}